h1 {
    color: brown;
    /* text-align: center; */
}

#generateBtn {
    background-color: brown; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }